@model AplicacionEmpleados.Models.AlumnosModel

@{
    ViewData["Title"] = "Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div class="card">
        <div class="card-header">Alta Calificaciones</div>
         <div class="card-body">
           
                <div class="row">



                    </div>
                    </div>
                    </div>


    </form>



    @section Scripts {


    }