@model EmpleadoModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var Compañia = ViewData["Contacto"];
}

<form asp-action="Guardar" asp-controller="Mantenedor" method="post">

    <div class="card ">
        <div class="card-header">
            <input type="hidden" asp-for="Empleado_Id" />

          
           
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Alta Empleados</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class='container'>
                <div class="row">

                    <div class="col col-md-2 col-lg-2 d-flex justify-content-end">
                        <label>Nombre</label>
                    </div>

                    <div class="col col-md-3">
                        <input type="text" id="txtNombre" asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class='col col-md-2 d-flex justify-content-end'>
                        <label>Apellido Paterno</label>
                    </div>

                    <div class='col col-md-3'>
                        <input type="text" id="txtApePat" asp-for="Apellido_Paterno" class='form-control' />
                        <span asp-validation-for="Apellido_Paterno" class="text-danger"></span>
                    </div>

                </div>



                <div class="row mt-3">
                    <div class="col col-md-2 d-flex justify-content-end">
                        <label>Apellido Materno</label>
                    </div>

                    <div class="col col-sm-3">
                        <input type="text" id="txtApeMat" asp-for="Apellido_Materno" class="form-control" />
                        <span asp-validation-for="Apellido_Materno" class="text-danger"></span>
                    </div>

                    <div class="col col-md-2 d-flex justify-content-end">
                        <label>Fecha Nacimiento</label>
                    </div>

                    <div class="col-sm-3">
                        <input type="text" id="txtFechaNacimiento" asp-for="Fecha_Nacimiento" class="form-control" />
                        <span asp-validation-for="Fecha_Nacimiento" class="text-danger"></span>
                    </div>
                    <div class="col col-sm-1 d-flex justify-content-lg-start">
                        <button id="btn_txtFechaInicio" class="btn btn-default" type="button">&nbsp;<i class="fas fa-calendar-alt"></i>&nbsp;</button>
                    </div>
                </div>



                <div class="row mt-3">
                    <div class="col col-md-2 d-flex justify-content-end">
                        <label>Estatus </label>
                    </div>

                    <div class="col col-sm-3">
                        <select id="selectEstatus" asp-for="Estatus_Id" class="form-control"></select>
                        <span asp-validation-for="Estatus_Id" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col offset-md-6  d-flex justify-content-end">
                        <a href="#" class="btn btn-outline-dark" id="btnLimpiar">Limpiar</a>&nbsp;
                        <a href ="#" id="btnNuevo" class="btn btn-outline-dark">Nuevo</A>&nbsp;
                        <a href="#" class="btn btn-outline-success" id="btnGuardar">Guardar</a>&nbsp;
                        <a href="#" class="btn btn-outline-primary" id="btnConsultar">Consultar</a>&nbsp;
                    </div>
                </div>


                <div class="card mt-3" id="CardEmpleados" style="display:none;">
                    <div class="card-header">Registro Empleados</div>
                    <div class="card-body" >
                        <table class="table table-striped table-bordered" id="tblEmpleados" style="width:100%">
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>




</form>



@section Scripts {

<script type="text/javascript">


        let TablaEmpleados ={};
        let ListaTablaEmpleados = {};
        let EmpleadoEditar = {};

        $(document).ready(function () {


            $("#btnLimpiar").attr("disabled", true);
              $("#btnGuardar").attr("disabled", true);

            $("#txtFechaNacimiento").mask("99/99/9999");

            $("#txtFechaNacimiento").datepicker({

                format: 'dd/mm/yyyy',
                language: 'es',
                orientation: 'bottom',
                autoclose: true

            });


            $.ajax({

                url: "@Url.Action("ObtenerEstatus","Mantenedor")",
                dataType: "json",
                success: function(data) {

                        $.each(data, function (index, elem) {
                          $("#selectEstatus").append('<option value=' + elem.estatus_Id + '>' + elem.descripcion + '</option>');
                          });

                          $("#selectEstatus").append('<option value="0" selected disabled hidden>Seleccione Opcion</option>');
                          $("#selectEstatus").val(0);
                }
            })




            $("#btn_txtFechaInicio").on("click", function() {

                $("#txtFechaNacimiento").trigger('focus');

            });

        $("#btnConsultar").on("click", function () {
          
                $.ajax({

                url: "@Url.Action("ConsultarEmpleados","Mantenedor")",
                dataType: "json",
                success: function(data) {
                    ListaTablaEmpleados = data;
                        $.each(data, function (index, elem) {
                         TablaEmpleados.row.add([elem.empleado_Id, elem.nombre, elem.apellido_Paterno, elem.apellido_Materno, moment(elem.fecha_Nacimiento).format("DD/MM/YYYY"), elem.descEstatus, '<a title="Editar" style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Editar Empleado" onclick="EditarEmpleado(' + elem.empleado_Id + ')"    ><i class="fas fa-edit"></i></a>']).draw(false);

            })

            $("#CardEmpleados").show();

                }
        });

        });



           $("#btnLimpiar").on("click", function () {

                location.reload();
 
         });

        $("#btnGuardar").on("click", function () {

           if  (validaParametrosGuardar()){

               let Empleado = {...EmpleadoEditar};
                Empleado.nombre= $("#txtNombre").val();
                Empleado.apellido_Paterno= $("#txtApePat").val();
                Empleado.apellido_Materno=  $("#txtApeMat").val();
                Empleado.fecha_Nacimiento= $("#txtFechaNacimiento").val();
                Empleado.estatus_Id= $("#selectEstatus").val();
           

              $.post('/Mantenedor/GuardarEmpleado', {Empleado : Empleado}, function(data){

                     if (data.error){
                       swal("Error", data.msjError, "error");
                    } else{

                 
                    swal("Exito", "Se guardo correctamente empleado", "success");

                    
swal({
    title: "Exito",
    text: "Se guardo correctamente empleado",
    icon: "success",
    closeOnClickOutside: false,
    closeOnEsc: false,
    button: "Aceptar"
}).then(function (isConfirm) {
    location.reload();
});



                }
                         });
                         }
                       });

             CrearTablaEmpleados();
      });


     
            const CrearTablaEmpleados = () =>{

            TablaEmpleados = $('#tblEmpleados').DataTable({
            language: {
                url: '../css/SpanishNew.txt'
            },
            ordering: false,

            columns: [
                { "title": "Id", "width": "5%", "className": "text-center" },
                { "title": "Nombre", "width": "25%", "className": "text-center" },
                { "title": "Apellido Paterno", "width": "20%", "className": "text-center" },
                { "title": "Apellido Materno", "width": "20%" },
                { "title": "Fecha Nacimiento", "width": "15%", "className": "text-center" },
                { "title": "Estatus", "width": "5%", "className": "text-center" },
                { "title": "Acción", "width": "10 % ", "className": "text-center" }
            ]

        });

            }


            const validaParametrosGuardar = () => {

                let MsjAlerta = "";
                if ($("#txtNombre").val() =="") {
                    MsjAlerta += "Favor de ingresar el nombre";
                }
                if ($("#txtApePat").val() == "") {

                    MsjAlerta += "\nFavor de ingresar apellido paterno";
                }

                if ($("#txtApeMat").val() == ""){

                    MsjAlerta += "\nFavor de ingresar apellido materno";
                }

                if ($("#txtFechaNacimiento").val() == ""){
                       MsjAlerta += "\nFavor de ingresar fecha nacimiento";
                }

                if($("#selectEstatus").val() == null){
                      MsjAlerta += "\nFavor de ingresar su estatus";
                }


                if (MsjAlerta != ""){

                    swal("Atención", MsjAlerta, "warning");
                    return false;
                }
                else{
                    return true;
                }
            }


            const EditarEmpleado = (IdEmpleado) => {
                 
               EmpleadoEditar = ListaTablaEmpleados.find( Employee => Employee.empleado_Id === IdEmpleado  )
                const {nombre, apellido_Paterno, apellido_Materno,fecha_Nacimiento,estatus_Id} = EmpleadoEditar;

                $("#txtNombre").val(nombre);
                $("#txtApePat").val(apellido_Paterno);
                $("#txtApeMat").val(apellido_Materno);
                $("#txtFechaNacimiento").val(moment(fecha_Nacimiento).format("DD/MM/YYYY"));
                $("#selectEstatus").val(estatus_Id);

            $("#CardEmpleados").hide();
            }

</script>

}